#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: #0e0d0d;
}
/* .grid-container {
  background-color: 0d0d;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
} */
.header {
  /* color: greenyellow;
  font-family: fantasy;
  font-size: x-large; */
}
.grid-item {
  /* color: rgb(61, 134, 51);
  font-family: monospace; */
}

.header {
  background-color: #0e0d0d;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: rgb(76, 167, 62);
}

.form {
  display: inline-block;
}

.form {
  margin-top: 50px;
  display: grid;
  display: inline-block;
  width: 100px;
}

.formData {
  color: rgb(46, 218, 60);
  font-weight: 500;
}
/*StarWarsCallbacks*/
/* .star-wars-button {
  background-color: #000000;
  border: none;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
} */

/* .star-wars-button span {
  color: #ffffff;
  font-weight: bold;
/* } */

/* .button-border {
  width: 100%;
  height: 2px;
  background-color: #ff0000;
  margin-top: 8px;
}

.star-wars-button:active {
  transform: translateY(2px);
  box-shadow: 0 5px 15px rgba(255, 0, 0, 0.2);
} */ */
display